################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDW-Information-repository/FileContentIndex
*.db
/.vs/slnx.sqlite
