################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDW-Information-repository/FileContentIndex
*.db
*.db-shm
*.db-wal
/.vs/slnx.sqlite
*.sqlite-journal
*.json
*.wsuo
