################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDW-Information-repository/FileContentIndex
/.vs/RDW-Information-repository/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/RDW-Information-repository/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/.vs/RDW-Information-repository/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/RDW-Information-repository/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
/.vs/RDW-Information-repository/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
/.vs/RDW-Information-repository/v17/.wsuo
/.vs/RDW-Information-repository/v17/DocumentLayout.backup.json
/.vs/RDW-Information-repository/v17/DocumentLayout.json
/.vs/RDW-Information-repository/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
/.vs/slnx.sqlite
